 
body {
    font-family: serif;
}

div#menu                { overflow: auto;
                          height: 100%;
                          position: absolute;

                          top: 0;
                          left: 0;

                          width: 9em;
                          margin: 0px;
                          padding: 0px;
                          background-color: #0066cc;

                          border: none;
                          font-family: sans-serif;
                          text-align: left;
                        }

div#innermenu           { padding: 0em;
                          padding-top: 1em;
                          margin: 0px;
                          font-size: smaller;
                          cursor: default;
                          color: white;
                          background-color: #0066cc;
                        }

div#innermenu h2        { display: none; }

div#menu span.nolink    { font-style: italic; }
div#menu span.active    { font-weight: bold; }

div#menu ul             { list-style: none;
                          margin: 0em;
                          padding: 0em;
                          padding-left: 1em;
                        }

div#menu a:link,
div#menu a:visited,
div#menu a:active {
    color: white;
    text-decoration:none;
}
div#menu a:hover {
    color: red;
    text-decoration: none;
}

@media screen { body>div#menu { position: fixed; } }
@media print { div#menu { display: none; }}

@media screen { body { padding-left: 9em; }}
@media print  { body { padding-left: 0em; }}

div#container       { position: relative;
                      width: 100%;
                      height: 100%;
                      padding: 0px;
                      text-align: center;
                    }

div#content         { margin: 0 auto;
                      width: 44em;
                      padding-left: 1.5em;
                      text-align: left;
                      min-height: 40em;

                      /* workaround for bug in Opera */
                      border-top: thin solid white;
                    }

div#mainshort           { padding-bottom: 30em; }

h1                  { margin-left:  -1em;
                      margin-right: -4em; }
div#titlepage h1    { margin-left:  0em;
                      margin-right: 0em; }
h2, h3              { margin-left: -.6em; }

@media print {div.linkcolumns   {}}
div.linkcolumns div.left  { float: left;
                            width: 21em; }
div.linkcolumns div.right { float: right;
                            width: 21em; }

@media print {div.innerlinkcolumns   {}}
div.innerlinkcolumns div.left  { float: left;
                                 width: 10em; }
div.innerlinkcolumns div.right { float: right;
                                 width: 11em; }

div.news       { padding-left: 3em;
                  padding-right: 2em;
                  width: 42em;
                  margin: 0 auto;
                  font-family: sans-serif;
                  color: black;
                  clear: both;
                  font-size: smaller;
                  text-align: left;
                 }
@media print {div.photocolumns  {}}

div.photocolumns        { padding-left: 3em;
                          padding-right: 2em;
                          width: 42em;
                          margin: 0 auto;
                          font-family: sans-serif;
                          color: black;
                          clear: both;
                        }
@media print {div.photocolumns  {}}
div.photocolumns div.left {  float: left;
                             text-align: center;
                             width: 10em; }
div.photocolumns div.right { float: right;
                             width: 32em; }

div.figure div.subleft  { float: left;
                          width: 50%;
                          text-align: center; }
div.figure div.subright { float: right;
                          width: 50%;
                          text-align: center; }

.mainwide               { width: 38em;
                          margin: 0 auto;
                          font-family: sans-serif;
                          color: black;
                        }
#address                { width: 42em;
                          margin: 0 auto;
                          font-family: sans-serif;
                          color: black;
                        }
@media print {#address  {}}
#address #left          { float: left;
                          width: 22em;
                          padding-left: .5em; }
#address #right         { float: right;
                          width: 17em;
                          padding-right: .5em; }

h2.mainsingle          {
                          clear: both;
                          padding-top: 1.5em;
                          padding-left: 2.5em;
                        }

div.field               { clear: both; }
div.field span.name     { float: left;
                          width: 4em;
                        }
div.field span.value    { float: right;
                          text-align: right;
                          width: 13em; }

div.linkcolumns         { width: 42em;
                          margin: 0 auto;
                          padding-left: 3em;
                          padding-right: 3em;
                          padding-top: 1em;
                          clear: both;
                        }

ul.mainitems            { padding-left: .75em; }
ul.mainitems li         { margin-bottom: 1em; }
ul.notmain              { padding-top: 0.5em; }
ul.notmain li           { margin-bottom: 0em; }

ol                      { margin-top: -.5em;
                          padding-top: 0em; } 
ol.inlist               { margin-top: 0em;
                          padding-top: .5em; } 

ol.stepbystep           { padding-left: .75em; }
ol.stepbystep li        { padding-bottom: 0.5em; } 

div.news                {}
div.news dl             {
                          margin-left: -2em;
                          margin-right: 2em;
                        }
div.news dt             {
                          clear: both;
                          float: left;
                          padding: 0em;
                          margin: 0em;
                          width: 20%;
                          display: block; }
div.news dd             {
                          display: block;
                          float: right;
                          padding: 0em;
                          padding-bottom: .5ex;
                          margin: 0em;
                          width: 80%;
                        }

div.footnotes ol        {
                          margin: 0 auto;
                          width: 100%;
                          clear: both;
                          padding-left: 1.5em;
                        }
div.footnotes a         {}

/** Manual pages **/
#manpage pre            {
                          padding-left: 2em;
                        }
#manpage h2             { margin-top: 0em;
                          margin-bottom: 0em;
                          margin-left: 2em;
                          padding-top: 0em;
                        }

/** Page information in footer **/

div#footer              {
                          margin: 0 auto;
                          width: 47em;
                          clear: both;
                        }

div.footercontent       {
                          margin-left: 1.5em;
                        }

